main{
    text-align: center;
    font-family: "Quicksand";
}

#titleCard{
    text-align: center;
    font-size: 50px;
}

#menu{
    text-align: center;
}



th{
    border: solid black 1px;
}

td{
    border: solid black 1px;
}

tr{
    border: solid black 1px;
}

#graphs{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 75px;
}

#individuals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}


#clipsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header{margin-bottom: 100PX;}

#performances{
    font-size: 25px;
}