main{
    text-align: center;
    font-family: "Quicksand";
    overflow: scroll;
}

#titleCard{
    text-align: center;
    font-size: 50px;
}

#menu{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    font-size: 29px;
}



th{
    border: solid black 1px;
}

td{
    border: solid black 1px;
}

tr{
    border: solid black 1px;
}

#graphs{
    display: flex;
    gap: 200px;
    margin-bottom: 75px;
}

#individuals{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}


#clipsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 27px;
}

header{margin-bottom: 100PX;}

#performances{
    font-size: 25px;
}


@media screen and (max-width: 774px){
    #menu{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: none;
    }
}


@media screen and (max-width: 1400px){
    #graphs{
        flex-direction: column;
    }
}
